body {
    background-color: lightblue;
}

.login {
    position: relative;
    padding-top: 100px;
    width:30%;
    height:200px;
    color: #000000;
    background-color: #debcff;
    text-align: center;
    margin: auto;
}

div.loginfail {
    color: red;
}
div.result {
}
.listtitle{
    width: 100%;
    text-align: center;
    background-color: #5e68ff;
    padding: 5px;
}

img.buttonDelList{
    float: right;
}


.divlist {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    border: 3px solid #5c93ad;
    padding: 5px 5px 5px 5px;
    background-color: #a7b9ff;
    margin: 5px;
}
div.newitem {
    position: absolute;
    bottom: 5px;
    left: 40px;
}

ul{
    list-style-type: none ;
}
ul.items {
    padding-top: 10px;
    padding-bottom: 10px;
}
img.buttonDelItem {
    float: left;
    padding-right: 10px;
}

